.class2{
    list-style-type:none;
    margin:0px;
    padding: 0;
    overflow: hidden;
    background-color:rgb(23, 25, 26));
    background-image: url("image4.jpeg");
    height:600px;
  }
  .class4{
    background-color:rgb(77, 212, 145);
    position: fixed;
  top: 0;
  width: 100%
  }
  
  
  .class3 {
    float:right;
  }
  
  .class3 a {
    display: block;
    color:black;
    text-align:right;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(49, 110, 201);
  }
  .heading{
      text-align: start;
  }
  #mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
  }
  
  /* Style the navigation menu */
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Style the navigation links */
  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
  }
  
  #myMenu li a:hover {
    background-color: #eee;
  }
.class5{
  background-color: white;
  color: blue;
}
th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
  border-bottom: 1px solid #ddd;
 
}
.box1{
  padding: 10px;
  border: 1px solid rgb(35, 180, 190);
  width:500px;
  float: left;
  align:right;
  margin: 20px;
}
.scrollit {
  overflow:scroll;
  height:500px;
}
.box2{
padding: 10px;
border: 2px solid rgb(35, 180, 190);
width:500px;
float: right;
margin: 5px;

}

}
ul{
  list-style-type:none ;
  margin: 5px;
}
li{
  display: inline;
}
.class6{
  color:green;
}
.class7{
  color:red
}
.box3{
  border: 2px solid white;
  width:50px;
  height: 100px;
}
.class8{
  text-align: center;
}
.class9{
  color: blue;
}
p{
  margin: 10px;
}
.class10{
  display:list-item;
  margin: 10px;
}